@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-basis: 0px;
    flex-direction: column;
    gap: 1rem;
    background-image: url("./assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 1rem;
}

.glass {
    background-color: rgba(17, 17, 27, 0.7);
    backdrop-filter: blur(7px);
    border-radius: 1rem;
}

.red {
    color: rgb(243, 139, 168);
}

.blue {
    color: rgb(137, 180, 250);
}

.green {
    color: rgb(166, 227, 161);
}

.yellow {
    color: rgb(249, 226, 175);
}

.peach {
    color: rgb(250, 179, 135);
}

.grey {
    color: rgb(88, 91, 112);
}

.cyan {
    color: rgb(137, 220, 235);
}

.white {
    color: rgb(205, 214, 244);
}

/* top bar */

nav {
    display: flex;
    flex-basis: 0px;
    flex-direction: row;
    justify-content: space-between;
}

#bar1 {
    height: 2rem;
    padding: 0rem 1.5rem;
    display: flex;
    flex-basis: 0px;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

nav i {
    font-size: 1.5rem;
    color: rgb(205, 214, 244);
}

nav img {
    height: inherit;
    align-self: center;
}

#logo-terminal {
    color: rgb(166, 227, 161);
    border-bottom: 2px solid rgb(166, 227, 161);
}

#bar2 {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0rem 1.5rem;
    color: rgb(205, 214, 244);
    font-size: 1.3rem;
}

#logo-calender {
    color: rgb(250, 179, 135);
    margin-right: 1rem;
}

#bar3 {
    height: 2rem;
    display: flex;
    flex-basis: 0px;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: 0rem 1.5rem;
}

#logo-notification {
    color: rgb(203, 166, 247);
}

#logo-volume {
    color: rgb(148, 226, 213);
}

#logo-brightness {
    color: rgb(249, 226, 175);
}

#logo-wifi {
    color: rgb(166, 227, 161);
}

#logo-bluetooth {
    color: rgb(137, 180, 250);
}

#logo-power {
    color: rgb(243, 139, 168);
}

/* windows */

main {
    display: flex;
    flex-basis: 0px;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
}

section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 0px;
}

/* neofetch screen */

#window-terminal {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
}

#neofetch {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 2.5rem;
    flex-basis: 0px;
}

#neofetch-image {
    background-image: url("./assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    flex-grow: 5;
    /* border-radius: 1rem; */
}

#neofetch-info {
    flex-grow: 1;
    color: rgb(205, 214, 244);
    font-size: 1.3rem;
}

#prompt {
    flex-grow: 5;
    color: rgb(205, 214, 244);
    font-size: 1.3rem;
    padding: 0rem 2.5rem;
}

/* terminal clock */

#window-clock {
    flex-grow: 1;
    color: rgb(205, 214, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#window-clock > div {
    font-size: 9rem;
}

/* file manager */

#window-file-manager {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
}

#fm-top-bar {
    height: 2rem;
    background-color: rgba(17, 17, 17, 0.3);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 1.3rem;
}

#fm-top-bar > div {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 1.3rem;
}

#fm-top-bar-close {
    background-color: rgb(243, 139, 168);
}

#fm-top-bar-maximize {
    background-color: rgb(166, 227, 161);
}

#fm-top-bar-minimize {
    background-color: rgb(249, 226, 175);
}

#fm-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#fm-side-panel {
    width: 13rem;
    background-color: rgba(17, 17, 17, 0.2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.3rem;
    color: rgb(205, 214, 244);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2rem;
}

#fm-main-panel {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    padding: 1.3rem;
    flex-wrap: wrap;
    gap: 1.7rem;
    align-content: flex-start;
}

.folder {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(205, 214, 244);
}

.folder > i {
    font-size: 4rem;
    color: rgb(137, 180, 250);
}

/* process viewer */

#window-htop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0px;
    color: rgb(205, 214, 244);
    padding: 1.3rem;
}

#pv-cpu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pv-cpu1,
#pv-cpu2,
#pv-cpu3,
#pv-cpu4 {
    white-space: pre;
}

#pv-memory,
#pv-swap {
    margin: 1.3rem 0rem;
    margin-top: -1.3rem;
}

#pv-misc {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    gap: 1rem;
}

#pv-misc-main {
    color: rgb(17, 17, 27);
    background-color: rgb(166, 227, 161);
    padding: 0.5rem;
    margin-left: 1.5rem;
}

#pv-misc-io {
    color: rgb(17, 17, 27);
    background-color: rgb(137, 220, 235);
    padding: 0.5rem;
}

#pv-bar1 {
    color: rgb(17, 17, 27);
    background-color: rgb(166, 227, 161);
    padding: 0.3rem 0.5rem;
}

#pv-bar2 {
    color: rgb(17, 17, 27);
    background-color: rgb(137, 220, 235);
    padding: 0.3rem 0.5rem;
}

.pv-bar {
    padding: 0.3rem 0.5rem;
}

#pv-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pv-bottom span {
    color: rgb(17, 17, 27);
    background-color: rgb(137, 220, 235);
    padding: 0.3rem 0.5rem;
    padding-left: 0px;
    text-align: left;
}

#pv-bottom-quit {
    flex-grow: 1;
}